# ─── Dependencies ─────────────────────────────────────────────────────────────
node_modules/
.pnp
.pnp.js

# ─── Build Output ─────────────────────────────────────────────────────────────
dist/
build/

# ─── Environment ──────────────────────────────────────────────────────────────
.env
.env.local
.env.production

# ─── Logs ─────────────────────────────────────────────────────────────────────
logs/
*.log
npm-debug.log*

# ─── Prisma ───────────────────────────────────────────────────────────────────
prisma/migrations/

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── IDE ──────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
